@tailwind base;
@tailwind components;
@tailwind utilities;

.board{
    background-image: url(boardpicture.jpg);
    background-size: 100%;
}

.dice{
    margin: auto;
    transform-style: preserve-3d;
    /* animation: anim1 5s infinite; */
}

.dice > div{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.front{
    transform: translateZ(30px);
    background: rgb(6, 10, 58); 
}

.back{
    transform: translateZ(-30px);
    background: rgb(6, 10, 58);
}

.left{
    transform-origin: left;
    transform: rotateY(90deg) translateX(-30px);
    background: rgb(6, 10, 58);
}

.right{
    transform-origin: right;
    transform: rotateY(90deg) translateX(30px);
    background: rgb(6, 10, 58);
}

.top{
    transform-origin: center;
    transform: rotateX(90deg) translateZ(30px);
    background: rgb(6, 10, 58);
}

.bottom{
    transform-origin: center;
    transform: rotateX(90deg) translateZ(-30px);
    background: rgb(6, 10, 58);
}

.right .dot{
    margin: 5%;
}

.bottom .dot{
    margin: 5%;
}

.anm{
    animation: anim1 0.3s 30;
}

@keyframes anim1{
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50%{
        transform: rotateX(160deg) rotateY(-120deg) rotateZ(20deg);
    }
    100%{
        transform: rotateX(60deg) rotateY(120deg) rotateZ(120deg);
    }
}