@tailwind base;
@tailwind components;
@tailwind utilities;

.board{
    background-image: url(1.png);
    background-size: 100%;
}

.dice{
    margin: auto;
    transform-style: preserve-3d;
    /* animation: anim1 5s infinite; */
}

.dice > div{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

/* Default translation for smaller devices */
.front {
    transform: translateZ(20px);
}

.back {
    transform: translateZ(-20px);
}

.left {
    transform-origin: left;
    transform: rotateY(90deg) translateX(-20px);
}

.right {
    transform-origin: right;
    transform: rotateY(90deg) translateX(20px);
}

.top {
    transform-origin: center;
    transform: rotateX(90deg) translateZ(20px);
}

.bottom {
    transform-origin: center;
    transform: rotateX(90deg) translateZ(-20px);
}

/* For medium devices and up */
@media (min-width: 768px) {
    .front {
        transform: translateZ(30px);
    }

    .back {
        transform: translateZ(-30px);
    }

    .left {
        transform: rotateY(90deg) translateX(-30px);
    }

    .right {
        transform: rotateY(90deg) translateX(30px);
    }

    .top {
        transform: rotateX(90deg) translateZ(30px);
    }

    .bottom {
        transform: rotateX(90deg) translateZ(-30px);
    }
}
    

.right .dot{
    margin: 5%;
}

.bottom .dot{
    margin: 5%;
}

.anm{
    animation: anim1 0.3s 30;
}

@keyframes anim1{
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50%{
        transform: rotateX(160deg) rotateY(-120deg) rotateZ(20deg);
    }
    100%{
        transform: rotateX(60deg) rotateY(120deg) rotateZ(120deg);
    }
}

.quiz-modal {
    transition: opacity 2s ease;
}
.fade-out {
    opacity: 0;
}
